@import "../../assets/variables";

.customButton {
  color: $white;
  font-size: $smallFont;
  background-color: $blue;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    filter: grayscale(10%);
  }

  &.disabled {
    filter: grayscale(50%);
    cursor: not-allowed;
  }
}
