@import "@mixins";

.header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;

  .headerTextArea {
    width: 90%;
    height: 100%;
  }

  .headerButton {
    width: 10%;
    height: 100%;
  }
}