@import "../../assets/variables";
@import "../../assets/mixins";

.customTextArea {
  padding: 10px;
  font-size: $mediumFont;
  background-color: $white;
  resize: none;
  @include outlined();

  &:focus {
    @include focused();
  }
}
